* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 36px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

section {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.hero-section {
    height: 900px;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: -100000;
}

.hero-section img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* -- Articles -------------------------------------------------------------------------- */

.article-section {
    height: 900px;
}

.article-section h1 {
    padding: 40px 100px 20px 100px;
}

.article-section p {
    padding: 0 100px 20px 100px;
}


/* -- Sunset -------------------------------------------------------------------------- */

.hero-section-sunset {
    background-color: dimgrey;
}

.hero-section-sunset__img-back {
    height: 100%;
}

.hero-section-sunset__img-sun {
    width: 200px !important;
}

.hero-section-sunset__img-front {
    width: 100%;
    height: 50%;
}