* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

section {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.hero-section {
    height: 900px;
    position: relative;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /*opacity: 0;*/
}

.hero-section h2 {
    /*position: relative;*/
    /*z-index: 1;*/
    /*color: ;*/
    /*font-size: 100px;*/
}