* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: lightgray;
}

section {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    z-index: -10000000000000;
}

.hero-section {
    height: 900px;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: -100000;
}

.hero-section img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.article-section {
    height: 900px;
}

.article-section h1 {
    padding: 40px 100px 20px 100px;
    font-size: 36px;
}

.article-section p {
    padding: 0 100px 20px 100px;
    font-size: 16px;
}

.hero-section2 {
    height: 900px;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: -100000;
    background-color: dimgrey;
}

.hero-section2 img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-section2__img-back {
    height: 100%;
}

.hero-section2__img-sun {
    width: 200px;
}

.hero-section2__img-front {
    width: 100%;
    height: 50%;
}

.hero-section3 {
    height: 700px;
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: -100000;
}

.hero-section3 img {
    position: absolute;
    width: 100%;
}

.hero-section3__img-front {
    top: 0;
}