* {
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 0 auto;
    background-color: darkgrey;
}

.hero-section {
    width: 100%;
    height: 1200px;
    position: relative;
}

.hero-section img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-section__img-back {

}

.hero-section__img-middle {
    /*opacity: 0;*/
}

.hero-section__img-front {
    /*opacity: 0;*/
}

.top-section {
    height: 1200px;
}

.bottom-section {
    height: 1200px;
}